swagger: '2.0'
info:
  description: '本文档包含vega网关的使用说明和接口列表. '
  version: 1.0.0
  title: Vega 微服务平台
  license:
    name: G7 内部接口调用协议1.0
    url: 'http://api.huoyunren.com/licenses/g7-internal-1.0.html'
host: api.huoyunren.com
schemes:
  - http
paths:
  '/{version}/{serviceName}/{resourcePath}':
    post:
      tags:
        - vega网关
      description: |
          多行描述示例：
          
          签名算法：
          ```
          
          Authorization = "g7" + " " +AccessId + ":" + Signature;
          
          Signature = Base64( HMAC_SHA1( YourSecretAccessID, UTF_8_Encoding_Of( StringToSign ) ) );
          
          StringToSign = HTTP_Verb + "\n" +	Timestamp + "\n" + CanonicalizedResource;
          
          CanonicalizedResource就是资源路径，比如” /v1/ucencent/new_uc/users”。```
          
          
          
          注意：
          
          1. 请求必须有 g7timestamp, 精确到毫秒: GET /v1/service/resource?g7timestamp=1502350633000
          
          2. 拼接 stringToSign(___"\n"表示换行___)：

          例如：
          
          ```
            stringToSign=
              "GET" + "\n"
              + "1502350633000" + "\n" 
              + "/v1/service/resource"
          ```          
          签名算法为：
          ```
          Signature = Base64( HMAC_SHA1( secretKey, UTF_8_Encoding_Of( StringToSign ) ) );
          ```
          例如secretKey是```test_key```，签名结果是
          ```7vnEU6bFqRPKX1ZFFqZkHBT2aKI=```
          
          
          炫耀一下swagger的描述里面是可以画表格上面的:
            
          type | definition
          -----|-----------
          Vinyl| 是
          VHS  | #/definitions/VHS
          AudioCassette | #/definitions/AudioCassette





      operationId: serviceName
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: version
          in: path
          description: 版本号
          required: true
          type: string
        - name: serviceName
          in: path
          description: 服务名
          required: true
          type: string
        - name: resourcePath
          in: path
          description: 资源路径
          required: true
          type: string
        - name: sign
          in: query
          description: 签名
          required: true
          type: string
        - name: g7timestamp
          in: query
          description: 签名时间戳，一个请求的签名必须在当前时间15分钟内进行
          required: true
          type: string
        - name: token
          in: query
          description: Ucenter获取的登录token
          required: false
          type: string
        - in: body
          name: body
          description: 请求体
          required: false
          schema:
            type: array
            items:
              $ref: '#/definitions/RequestBody'
      responses:
        '200':
          description: 网关返回对象
          schema:
            type: array
            items:
              $ref: '#/definitions/ApiResponse'
        '405':
          description: Invalid input
          
          
definitions:
  RequestBody:
    type: object
    properties:
      request:
        type: string
        description: 请求体
    xml:
      name: RequestBody
  ApiResponse:
    type: object
    properties:
      code:
        type: integer
        format: int32
        description: 网关状态码
      sub_code:
        type: integer
        format: int32
        description: 服务状态码
      type:
        type: string
      message:
        type: string
      result:
        $ref: '#/definitions/Result'
  Result:
    type: object
    properties:
      code:
        type: integer
        format: int32
        description: 服务状态码
      message:
        type: string
externalDocs:
  description: 访问权限申请流程
  url: 'http://wiki.chinawayltd.com/pages/viewpage.action?pageId=7550092'
